 .ui-datepicker {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 12px;
     font-family: Arial, sans-serif;
     font-weight: bold;
}
 .ui-datepicker-header,
 .ui-datepicker-calendar {
    width: 35%;
}
 .ui-datepicker-year{
     display: none;
 }
 .ui-datepicker-header {
    background: none;
    border: none;
    padding: 0;
     position: relative;
}
 .ui-datepicker-calendar {
    float: left;
}
 .ui-datepicker-calendar .ui-state-default {
    padding: 0;
    border: none;
    background: none;
    text-align: center;
    color: #000;
    width: 23px;
    height: 23px;
    line-height: 23px;
     display: inline-block;
}
 .ui-datepicker-calendar .ui-state-disabled .ui-state-default {
    color: #999;
}
 .ui-datepicker-calendar .ui-datepicker-week-end .ui-state-default {
    color: #e24c42;
}
 .ui-datepicker-calendar .ui-datepicker-current-day .ui-state-default {
    background: #e2d0d9;
    border-radius: 12px;
    color: #762d51;
}
 .ui-datepicker-title {
    color: #000;
    border-bottom: 1px solid #dacce2;
    padding: 0 0 23px;
    margin: 0;
     font-size: 16px;
}
 .ui-datepicker .ui-datepicker-title{
     margin: 0;
     line-height: 16px;
 }
 .ui-timepicker-div {
    width: 43.5%;
    float: right;
    margin: -3.1rem 0 0;
    color: #000;
     font-size: 16px;
}
 dl{
     margin: 8px 0 0 0;
 }
 .ui_tpicker_time {
    display: inline-block;
    font-weight: bold;
    /*font-size: 1em;*/
    margin: 0 3% 0 0;
    width: 60%;
    float: right;
    position: relative;
    left: -13px;
     color: #e24c42;;
}
 .ui_tpicker_time_label {
    display: inline-block;
}
 .ui_tpicker_hour_label {
    margin: 58px 0 0;
}
 .ui_tpicker_minute_label {
     margin: 32px 0 0;
 }
 .ui_tpicker_hour {
    margin: -12px 0 0 0;
    width: 66%;
    float: right;
    position: relative;
}
 .ui_tpicker_minute {
     margin: -12px 0 0 0;
     width: 66%;
     float: right;
     position: relative;
 }
 .ui_tpicker_hour .ui-slider,
 .ui_tpicker_minute .ui-slider,
 .ui_tpicker_hour .ui_tpicker_helper,
 .ui_tpicker_minute .ui_tpicker_helper {
    height: 1px;
    border-radius: 0;
    border: none;
    border-top: 1px solid #acadae;
    border-bottom: 1px solid #acadae;
}
 .ui_tpicker_hour .ui-slider-handle,
 .ui_tpicker_minute .ui-slider-handle,
 .ui_tpicker_hour .ui_tpicker_helper-handle,
 .ui_tpicker_minute .ui_tpicker_helper-handle {
    background: none;
    height: 20px;
    top: -10px;
    width: 20px;
    border-radius: 10px;
    margin-left: -10px;
    border: 2px solid #000;
    background-color: #acadae;
     cursor: pointer;
    /*background-image: linear-gradient(top, #fefefe, #e5e5e5);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e5e5e5', GradientType=0);*/
}
 .ui_tpicker_hour .ui-slider-handle.ui-state-hover,
 .ui_tpicker_minute .ui-slider-handle.ui-state-hover,
 .ui_tpicker_hour .ui_tpicker_helper-handle.ui-state-hover,
 .ui_tpicker_minute .ui_tpicker_helper-handle.ui-state-hover,
 .ui_tpicker_hour .ui-slider-handle.ui-state-focus,
 .ui_tpicker_minute .ui-slider-handle.ui-state-focus,
 .ui_tpicker_hour .ui_tpicker_helper-handle.ui-state-focus,
 .ui_tpicker_minute .ui_tpicker_helper-handle.ui-state-focus {
    border-color: #000 !important;
}
 .ui-slider {
    float: right;
}
 .ui-datepicker-next,
 .ui-datepicker-prev {
    width: 10px;
    height: 15px;
    top: 4px;
}
 .ui-datepicker-next:hover,
 .ui-datepicker-prev:hover,
 .ui-datepicker-next.ui-state-disabled,
 .ui-datepicker-prev.ui-state-disabled,
 .ui-datepicker-next.ui-state-hover,
 .ui-datepicker-prev.ui-state-hover {
    background: none;
    cursor: pointer;
    border: none;
    top: 4px;
}
 .ui-icon {
     display: block;
     text-indent: -99999px;
     overflow: hidden;
     background-repeat: no-repeat;
 }
 .ui-datepicker .ui-datepicker-prev,
 .ui-datepicker .ui-datepicker-next {
     position: absolute;
     top: 2px;
     width: 1.8em;
     height: 1.8em;
 }
 .ui-datepicker-prev .ui-icon {
    position: static;
    margin: 0;
    background: url('../images/arrow_calendar.png') no-repeat;
    width: 10px;
    height: 15px;
}
 .ui-datepicker-next .ui-icon {
     position: static;
     margin: 0;
     background: url('../images/arrow_calendar_next.png') no-repeat;
     width: 10px;
     height: 15px;
 }
 .ui-datepicker-next {
    right: 0;
}
 .ui-datepicker-next:hover,
 .ui-datepicker-next.ui-state-disabled,
 .ui-datepicker-next.ui-state-hover {
    right: 0;
}
 .ui-datepicker-next.ui-state-disabled .ui-icon {
    background-position: 0 -15px;
}
 .ui-datepicker-next .ui-icon {
    background-position: 0 0;
}
 .ui-datepicker-prev {
    left: 0;
}
 .ui-datepicker-prev:hover,
 .ui-datepicker-prev.ui-state-disabled,
 .ui-datepicker-prev.ui-state-hover {
    left: 0;
}
 .ui-datepicker-prev.ui-state-disabled .ui-icon {
    background-position: 0;
}
 .ui-datepicker-prev .ui-icon {
    background-position: 0;
}
 .ui_tpicker_helper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.calendar .ui-slider {
    width: 100%;
}
 @media only screen and (max-width: 767px){
     .ui-datepicker .ui-datepicker-header{
         width: 100%;
         margin-left: 0;
     }
     .ui-datepicker table{
         width: 100%;
         margin: 0;
         font-size: 1em;
         border-bottom: 1px solid #dacce2;
     }
     .ui-datepicker th{
         display: none;
     }
     .ui-timepicker-div{
         width: 97%;
         float: none;
         margin: 220px 0 0 2px;
     }
     .ui_tpicker_time{
         margin: 0 5% 0 0;
     }
     .ui_tpicker_hour_label{
         margin: 44px 0 0 0;
     }
     .ui_tpicker_minute_label{
         margin: 47px 0 0 0;
     }
     .ui-datepicker td{
         padding: 1.5% 3%;
         font-size: 1em;
         text-align: center;
         font-weight: bold;
     }
     .ui-datepicker-calendar .ui-state-default{
         font-weight: bold;
     }
 }