@media only screen and (max-width: 767px){
    .container{
        max-width: 100%;
        padding: 0;
        margin: 0 auto;
    }
    .wrapper{
        max-width: 562/640*100%;
        padding: 0;
        margin: 0 auto;
    }
    .header{
        &__logo{
            display: none;
            &_mob{
                display: block;
                width: 57%;
                margin: 0 auto;
            }
        }
        &__link{
            display: none;
        }
        &__i{
            padding: 33px 0 17px;
        }
    }
    .page{
        &__i{
            width: 100%;
            max-width: 100%;
        }
    }
    .nav{
        display: none;
    }
    .content{
        width: 100%;
        margin: 0 auto;
        padding: 36px 0 0;
        .clearfix;
        &__title_mob{
            &:extend(.wrapper);
            display: block;
            text-transform: uppercase;
            font-size: 18/16em;
            font-weight: bold;
            font-family: Times New Roman;
            color: #000;
            margin: 2px auto 25px;
        }
        //--------------3page--------------------//
        &_require{
            padding-bottom: 45px;
            &:extend(.wrapper);
        }
        &__title_require{
            margin: 2px auto 20px;
            max-width: 100%;
        }
        &__order-info{
            position: relative;
            border-bottom: none;
            padding-bottom: 0;
            .clearfix;
        }
        &__image{
            display: block;
            float: left;
            width: 27%;
            padding-top: 5px;
            img{
                width: 100%;
            }
        }
        &__order{
                display: block;
                width: 60%;
                float: right;
                margin-right: 0;
            padding-bottom: 14px;
            span{
                font-weight: bold;
                display: block;
            }
            &_last{
                padding-bottom: 26px;
            }
        }
        &__info{
            float: left;
            font-size: 12/16em;
            font-weight: normal;
            font-family: Arial;
            text-align: left;
            padding-bottom: 26px;
            letter-spacing: -0.1px;
        }
        &__session{
            width: 281px;
            padding: 19px 22px 19px 20px;
            position: relative;
            float: left;
            border-radius: 7px;
            margin-bottom: 28px;
        }
        &__session-text{
            color: #fff;
            font-size: 14/16em;
            font-weight: normal;
            font-family: Arial;
            float: left;
            width: 50%;
        }
        &__session-time{
            color: #fff;
            font-size: 40/16em;
            font-weight: normal;
            font-family: Arial;
            float: right;
            line-height: 0.8em;
        }
        //---------------------------------//
        //-----------4page--------------------//
        &_finished{
            max-width: 87%;
            text-align: center;
            padding: 100px 0 102px 0;
        }
        &__title{
            width: 74%;
            margin: 0 auto;
            padding: 0 0 33px 0;
            line-height: 1.25em;
        }
        &__text{
            padding-bottom: 28px;
            line-height: 1.42em;

        }
        &__link{
            color: #e24c42;
            border-bottom: 1px solid #e24c42;
        }
        //-----------end---4page--------------------//
    }
    .login{
        width: 100%;
        float: none;
        position: relative;
        &:extend(.wrapper);
        &__title{
            display: none;
            &_mob{
                display: block;
                font-size: 18/16em;
                font-weight: bold;
                font-family: Times New Roman;
                color: #000;
                margin: 2px 0 40px;
                text-transform: uppercase;
            }
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            border-bottom: 2px dotted #ccc;
            width: 150%;
            left: -20%;
        }
    }
    .login-form{
        padding-bottom: 4px;
    }
    .form{
        &__input {
            padding: 7px 11px;
            letter-spacing: -0.3px;
            &_min{
                width: 58/140*100%;
                float: left;
//                display: inline-block;
//                margin: 0 23/281*100% 0 0;
                &:last-child{
                    margin: 0;
                    float: right;
                }
            }
            &_time{
                width: 140/281*100%;
                float: right;
                right: 0;
                .clearfix;
            }
            &_code{
                width: 140/281*100%;
                float: right;
            }
        }
        &__textarea{
            min-height: 120px;
            max-height: 120px;
        }
        //-------------3page-------------//
        &__title{
            text-align: left;
            padding: 20px 0 24px;
        }
        &__view{
            width: 100%;
            padding: 0;
            border: none;
            border-radius: 0;
            &_front{
                float: none;
            }
            &_back{
                float: none;
                position: relative;
                padding: 0;
            }
        }
        //--------------------------------//
    }
    .advantage{
        float: none;
        width: 100%;
        margin-top: 36px;
        &:extend(.wrapper);
    }
    .back-link{
        display: block;
        padding: 0 0 35px 0;
        font-size: 12/16em;
        color: #e71c25;
        font-family: Helvetica;
        letter-spacing: 0.05em;
        text-align: center;
        &:before{
            content: '';
            display: inline-block;
            border: 6px solid transparent;
            border-right: 6px solid #000;
            position: relative;
            top: 1px;
            margin: 0 12px 0 0;
        }
    }
    .footer{
        &:extend(.container);
        text-align: center;
        background: #fff;
        &__i{
            padding: 28px 0;
            border-top: 2px solid #000;
        }
        &__list{
            display: inline-block;
            width: 100%;
        }
        &__item{
            display: inline-block;
            color: #000;
            text-transform: uppercase;
            font-size: 12/16em;
            font-family: Arial;
            font-weight: bold;
            padding: 0;
            &_tel{
                padding-right: 9.5%;
            }
        }
    }
    //------------------------2 page--------------------//
    .create{
        margin-bottom: 40px;
        .clearfix;
        &__image{
            float: left;
            width: 27%;
            img{
                width: 100%;
            }
        }
        &__expiration {
            display: none;
            &_mob{
                display: block;
                text-align: left;
                font-size: 14/16em;
                font-family: Arial;
                font-weight: normal;
                margin: 10px 0 0;
            }
        }
        &__content {
            width: 100%;
            float: left;
            margin-right: 0;
            .row{
                margin: 28px 0 24px 0;
                &:last-child{
                    margin: 0;
                }
            }
        }
        &__title {
            display: none;
            &_mob{
                color: #000;
                text-transform: uppercase;
                font-size: 15/16em;
                font-family: "Times New Roman";
                font-weight: bold;
                line-height: 1.2em;
                margin: -3px 0 0
            }
        }
        &__about{
            display: block;
            width: 67%;
            float: right;
            margin-right: 0;
        }
    }
    .create-item{
        .clearfix;
        padding-bottom: 28px;
        position: relative;
        margin: 0 auto;
        border-bottom: none;
        &:extend(.wrapper);
        &:last-child{
            border: none;
            margin: 41px auto 0;
        }
    }
    .info{
        padding-bottom: 22px;
        .clearfix;
        &__i {
            float: none;
            width: 100%;
            position: relative;
            &:last-child {
                margin: 0;
                padding: 13px 0 0 0;
                .info__lbl{
                    left: 0;
                }
            }
        }
        &__lbl {
            position: absolute;
            top: 5px;
            left: 0;
            text-transform: uppercase;
        }
        .row{
            &__lbl {
                font-size: 15/16em;
                font-family: "Times New Roman";
                font-weight: bold;
                position: relative;
                letter-spacing: -0.5px;
            }
        }
    }
    .details{
        padding-bottom: 24px;
        &__header {
            font-size: 15/16em;
            text-align: left;
        }
        &__items {
            text-align: left;
            margin: 0;
            font-size: 14/16em;
            .clearfix;
        }
        &__row{
            margin: 0 0 26px 27px !important;
            float: none;
            .clearfix;
            &:last-child {
                margin: 0 0 0 27px;
                input {
                    left: 0;
                }
            }
            input {
                left:0;
            }
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            border-bottom: 2px dotted #ccc;
            width: 150%;
            left: -20%;
        }
    }
    .finish {
        margin: 0 auto;
        text-align: center;
        padding: 0;
        .input_checkbox + label{
            font-family: Arial;
            letter-spacing: -0.5px;
            line-height: 1.5em;
            display: block;
        }

    }
    .checkbox_finish{
        left: 0;
    }
    .btn {
        width: 100%;
        padding: 10px 37px;
        margin: 0;
    }
    .btn-block{
        padding-top: 18px;
    }
    .btn-require{
        width: 100%;
        font-size: 16/16em;
        padding: 12px 30px;
        margin: 0;
        line-height: 16px;
        &_clear{
            display: none;
        }
    }
    .date {
        color: #e24c42;
        font-weight: bold;
    }
    .rows {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .row{
        .clearfix;
        margin-bottom: 21px;
        text-align: left;
        &__lbl {
            font-size: 16/16em;
            font-family: Arial;
            font-weight: bold;
            margin-right: 4.5%;
        }
        &_button {
            margin: 62px 0 58px;
        }
        &_require-mob{
            margin-bottom: 28px;
        }
        span{
            margin-right: 36/281*100%;
        }
        &_last{
            padding: 9px 0 0 0;
            margin-bottom: 0;
            p{
                display: none;
            }
        }
        &_grey{
            display: none;
        }
        &_code{
            margin-top: 25px;
            .clearfix;
            span{
                font-size: 14/16em;
                font-weight: normal;
                font-family: Arial;
                margin-right: 0;
                float: left;
                margin-top: 8px;
            }
        }
        &_time{
            span{
                font-size: 14/16em;
                font-weight: normal;
                font-family: Arial;
                float: left;
                margin-top: 8px;
                margin-right: 0;
            }
        }
        p{
            font-size: 12/16em;
            font-weight: normal;
            font-family: Arial;
            color: #a6a6a6;
        }
    }
    .select-wr{
//        width: 65% !important;
        width: 82% !important;
        display: inline-block;
    }
    .select {
        float: right;
        margin: -0.6rem 0 0;
        font-size: 14/16em;
        font-family: Arial;
        font-weight: normal;
        position: relative;
        display: inline-block;
        /* inline-block for ie7 */
        zoom: 1;
        *display: inline;
        vertical-align: middle;
        text-align: left;

    }
    .calendar {
        margin: 0;
        display: none;
        padding: 16px 0 24px;
        border: none;
        position: relative;
        &:before,
        &:after{
            border: none;
            content: " ";
        }
    }
}
//--------------------end--2--page-----//
@media only screen and (max-width: 690px){
    .select-wr{
        width: 78% !important;
        display: inline-block;
    }
}
@media only screen and (max-width: 535px){
    .select-wr{
        width: 70% !important;
        display: inline-block;
    }
}
@media only screen and (max-width: 370px){
    .select-wr{
        width: 65% !important;
        display: inline-block;
    }
}