*, *:before, *:after{
    box-sizing: border-box;
}
input {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none; /* mobile firefox too! */
}
.container{
    max-width: 1108px;
    padding: 0 82px;
    margin: 0 auto;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

h1, h2, p, ul {
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #000;
}
.header{
    position: relative;
    &:extend(.container);
    text-align: center;
    padding: 36px 0;
    border-bottom: 4px solid #000;
    &__logo{
        width: 361px;
        max-width: 361px;
        height: auto;
        margin: 0 auto;
    }
    &__link{
        position: absolute;
        padding: 0;
        font-size: 12/16em;
        color: #e71c25;
        font-family: Helvetica;
        top: 75px;
        right: 50/952*100%;
        &:before{
            content: '';
            display: inline-block;
            border: 7px solid transparent;
            border-right: 7px solid #000;
            position: relative;
            top: 1px;
            margin: 0 12px 0 0;
        }
    }
}
.page{
    background: #fff;
    &:extend(.container);
}
.nav{
    padding: 30px 0 50px;
    .clearfix;
    text-align: center;
    &__item{
        display: inline-block;
        font-size: 24/16em;
        font-weight: bold;
        font-family: Times New Roman;
        color: #525252;
        &:first-child{
            color: #000;
        }
        &:nth-child(2){
            padding: 0 80/952*100%;
            position: relative;
            &:before,
            &:after{
                content: '>';
                position: absolute;
                top: 5px;
                height: 18px;
                line-height: 18px;
                font-size: 24/16em;
                font-weight: bold;
                font-family: Times New Roman;
                color: #525252;
            }
            &:before{
                left: 80/952*100%;
            }
            &:after{
                right: 80/952*100%;
            }
        }
    }
}
.content{
    width: 655px;
    margin: 0 auto;
    padding: 36px 0 50px;
    .clearfix;
}
.login{
    width: 284/655*100%;
    float: left;
    &__title{
        font-size: 18/16em;
        font-weight: bold;
        font-family: Times New Roman;
        color: #000;
        margin: 0 0 40px;
        display: block;
        text-transform: uppercase;
    }
    &__social{
        text-align: center;
    }
    &__item{
        width: 30px;
        height: 30px;
        display: inline-block;
        margin: 0 10/284*100%;
    }
    &__link{
        display: inline-block;
        width: 30px;
        height: 30px;
    }
    .fb{
        background: url("../images/fb.png") no-repeat;
        background-size: 13px 27px;
    }
    .twitter{
        background: url("../images/tw.png") no-repeat;
    }
    .vk{
        background: url("../images/vk.png") no-repeat;
    }
    .insta{
        background: url("../images/insta.png") no-repeat;
    }
    .google{
        background: url("../images/g.png") no-repeat;
    }
    &__divider{
        margin: 30px 0 0 0;
        display: block;
        text-align: center;
        position: relative;
        width: 100%;
        font-size: 18/16em;
        font-weight: bold;
        font-family: Times New Roman;
        color: #000;
        span{
            display: inline-block;
            padding: 0 3px;
            background: #fff;
        }
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            top: 50%;
            left: 0;
            line-height: 18px;
            border-top: 2px dotted #525252;
//            z-index: -1;
        }
    }
    .login-form{
        text-align: center;
        padding-top: 30px;
        button{
            font-size: 1em;
            font-family: "Times New Roman";
            font-weight: bold;
        }
    }
    .form__row{
        margin-bottom: 20px;
        &_remember{
            text-align: left;
            margin: 0 0 20px 0;
        }
    }
    .form__input {
        padding: 14px;
        width: 100%;
        border: 1px solid #ccc;
        background: #fff;
        border-radius: 0;
        font-size: 14/16em;
        font-weight: bold;
        font-family: Arial;
        color: #b0b0b0;
        box-shadow: none;
    }
    .form__label{
        font-size: 14/16em;
        font-weight: normal;
//        letter-spacing: .5px;
        color: #000;
        font-family: Arial;
    }
    .input_checkbox {
        position: absolute !important;
        opacity: 0 !important;
        top: auto !important;
        margin-right: 0 !important;
        font-size: 100% !important;
        cursor: pointer;
    }
    .input_checkbox + label {
        background-image: url("../images/icon_checkbox.png");
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 15px;
        margin: 0;
        padding: 0 0 0 20px;
        font-size: 13px;
    }
    .input_checkbox + label:before {
        content: "";
        display: none;
        background: url("../images/icon_checkbox_checked.png");
    }
    .input_checkbox:checked + label {
        background-image: url("../images/icon_checkbox_checked.png");
    }
    .input_checkbox:checked + label:before {
        content: "";
        display: none;
        background: url("../images/icon_checkbox.png");
    }
}
.btn-invert{
    margin: 0 0 20px 0;
    padding: 12px 0;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #fff;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
    background: #000;
    border: 1px solid #000;
    font-size: 1em;
    font-family: "Times New Roman";
    font-weight: bold;
}
.btn-invert_full-width{
    width: 100%;
}
.btn-invert:hover{
    color: #000;
    background: #fff;
}
.advantage{
    float: right;
    width: 280/655*100%;
    &__header {
        margin: 0 0 42px;
        padding: 0;
        font-size: 18/16em;
        font-weight: bold;
        font-family: "Times New Roman";
        text-transform: uppercase;
    }
    &__list {
        display: inline-block;
        margin: 0 0 40px 0;
    }
    &__item {
        margin: 0 0 0.9rem;
        padding: 0 0 0 .4rem;
        position: relative;
        font-size: 14/16em;
        font-weight: normal;
        font-family: Arial;
        color: #000;
        &:before {
            content: '•';
            position: absolute;
            top: 1px;
            left: -2px;
            font-size: 14/16em;
        }
    }
}
.footer{
    &:extend(.container);
    text-align: center;
    padding: 30px 0;
    border-top: 4px solid #000;
    &__list{
        display: inline-block;
        width: 100%;
    }
    &__item{
        display: inline-block;
        color: #000;
        text-transform: uppercase;
        font-size: 12/16em;
        font-family: Arial;
        font-weight: bold;
        padding: 0 25/952*100%;
    }
}
